.header {
    background: rgba(255, 255, 255, 0.42);
}
#container1 img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#container1 .get-started {
    z-index: 1;
    color: white;
}
/*.atom-line {*/
    /*transform: rotate(177deg);*/
    /*background-color: #172127;*/
    /*background-position: center center;*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*height: 242px;*/
    /*margin-top: 300px;*/
/*}*/
#container2 {
    background: #172127;
}
#container2 .choice-image img {
    width: 100px;
}
#container2 .choice-text {
    color: #000;
}
#container2 .short-video-description {
    position: absolute;
    color: white;
}
#container3 .platforms-integrated {
    width: 420px;
    border: 1px solid black;
    border-radius: 5px;
}
#container3 .platforms-icons img {
    width: 50px;
}
#container6 .exclusive-offer {
    position: relative;
    width: 536px;
    height: 380px;
    padding: 32px;
    border: 12px solid #ee2737;
    border-radius: 0;
    background-position: center center;
}
#container6 .exclusive-offer > img {
    width: 160px;
}
#container6 .exclusive-offer-text {
    padding: 42px 0;
}
#container6 .exclusive-offer-img {
    width: 297px;
    position: absolute;
    right: 0;
    bottom: -210px;
}
#container6 .exclusive-offer-img > :first-child {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
#container6 .exclusive-offer-img > :last-child {
    position: absolute;
    bottom: 0;
    right: -8px;
}
.exclusive-offer-button {
    padding: 12px 35px;
    border-radius: 6px;
    color: white !important;
    font-weight: bold;
    background: #ee2737;
    transition: background-color .3s ease-out;
}
.exclusive-offer-button:hover {
    background-color: #e41830;
}