<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="header">
    <nav class="row">
        <div class="small-2 column">
            <a href="/index" class="header__logo">
                <img src="/img/logo.svg" id="live4logo"></a></div>
        <section id="navs" class="small-6 column">
            <ul class="inline-list left-nav small-right">
                <li>
                    <a href="/start" class="btn-nav">Quick Start</a>
                </li>
                <li>
                    <a href="/features" class="btn-nav">Features</a>
                </li>
                <li>
                    <a href="/blog" class="btn-nav">Blog</a>
                </li>
                <li>
                    <a href="/blog/faq" class="btn-nav">FAQ</a>
                </li>
                <li class="subscribe-btn">
                    <a href="#" class="btn-nav" onclick="showSubscriptionForm()">Subscribe</a>
                </li>
            </ul>
        </section>
        <div class="small-4 column store-btns">
            <a href="https://play.google.com/store/apps/details?id=com.vg.goprolive&referrer=utm_source%3Dlive4_web%26utm_medium%3Dlive4io_banner%26utm_term%3Dcampaign1%26utm_content%3D{{page.id | remove_first: '/' | replace: '/', '_'}}_link%26utm_campaign%3Dshort_howto" class="google_play_btn"
               target="_blank">
                <img src="/img/buy/google_play_btn_blue.svg" class="img-responsive"></a>
            <a href="https://itunes.apple.com/ua/app/live4/id919921242" class="app_store_btn" target="_blank">
                <img src="/img/buy/app_store_btn_blue.svg" class="img-responsive">
            </a>
        </div>
    </nav>
</div>

<main class="content">
    {{ content }}
</main>

<div id="live4SubIFrame" style="top:550px;"></div>
<footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
</footer>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55300163-1', 'auto');
ga('send', 'pageview');
</script>
<script>
    if (window.location.pathname.endsWith("faq")) {
        let blogLiEl = document.querySelector("#navs > ul > li:nth-child(4)");
        blogLiEl.classList.add("active");
    } else {
        let faqLiEl = document.querySelector("#navs > ul > li:nth-child(3)");
        faqLiEl.classList.add("active")
    }
</script>
<script type="text/javascript">
    var userAgent = navigator.userAgent.toLowerCase();
    var isAndroid = userAgent.indexOf("android") > -1;
    var isIOs = navigator.userAgent.match(/iPhone|iPad/i);
    if (isAndroid) {
        document.querySelector(".app_store_btn").style.display = "none";
        document.body.innerHTML = document.body.innerHTML.replace(/LIVE4/g, "<a href='https://play.google.com/store/apps/details?id=com.vg.goprolive'>LIVE4 GoPro app</a>")
    } else if (isIOs) {
        document.querySelector(".google_play_btn").style.display = "none";
        document.body.innerHTML = document.body.innerHTML.replace(/LIVE4 GoPro app/g, "<a href='https://itunes.apple.com/ua/app/live4/id919921242'>LIVE4 GoPro app</a>")
    }
    if (isAndroid || isIOs) {
        let iframe = document.getElementById("live4SubIFrame");
        iframe.setAttribute("style", "top:21% !important; height:154px !important")
    }
</script>
<script>
    let iframeContainer = document.getElementById("live4SubIFrame");

    showSubscriptionForm = () => {
        iframeContainer.innerHTML = "<div id=\"closeIFrameBtn\">&#10005;</div><iframe src=\"https://goo.gl/forms/qjImSf6UsHEBxmrm2\" onload='onLoadIFrameListener()' width=\"640\" height=\"672\" frameborder=\"0\">Loading...</iframe><div id=\"closeForm\">Close</div>";
    };

    onLoadIFrameListener = () => {
        let closeIFrameBtn = iframeContainer.querySelector("#closeIFrameBtn");
        let closeForm = iframeContainer.querySelector("#closeForm");
        closeIFrameBtn.onclick = () => {
            iframeContainer.innerHTML = "";
        };
        closeForm.onclick = () => {
            iframeContainer.innerHTML = "";
        }
    }
</script>
</body>
</html>
